body{
    background-color: rgb(235, 247, 247);
}
.nav-bar {
  background-color: none;
  text-align: center;
}
.nav a {

    font-size: 2rem;
    padding: 1rem;
    text-decoration: none;
    padding-left: 1rem;
    
}
.nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.world-icon img {
    width: 25px;
    height: auto;
    display: inline;
}